/* CSS Document */

.container
{
	margin:50px;
}

.Login
{
	margin:30px 0;
}

.heading
{
	font-size:36px;
	font-family: 'Fredoka One', cursive;
}

.content
{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
	border:solid #099;
	border-width:thin;
}